.mini-stat {
    overflow: hidden;
    height: 120px;
}
.mini-stat .mini-stat-icon i {
    position: absolute;
    right: 0px;
    top: 40px;
    color: rgba(255, 255, 255, 0.3);
}
#filterBox{
    display: none;
}
.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}
